### MAST30034: Applied Data Science Project 1
---
# Preprocessing Part 2: Aggregating Data by MMWR Week
#### Xavier Travers (1178369)

Aggregate all the data by MMWR week (defined [here](https://ndc.services.cdc.gov/wp-content/uploads/MMWR_Week_overview.pdf)).
This means counting trips to and from each of the boroughs per month.
This is done for each of the taxi types.

In [1]:
# imports used throughout this notebook
from pyspark.sql import DataFrame
from pyspark.sql import functions as F
import os
import sys
import re
from itertools import chain

# add homemade helpers
sys.path.insert(1, '../scripts')
import helpers.aggregation_helpers as ah

# for printouts
DEBUGGING = True

In [2]:
from pyspark.sql import SparkSession

# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName('MAST30034 XT Project 1')
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.sql.repl.eagerEval.enabled', True) 
    .config('spark.sql.parquet.cacheMetadata', 'true')
    .getOrCreate()
)

22/08/09 19:34:32 WARN Utils: Your hostname, Polaris resolves to a loopback address: 127.0.1.1; using 172.20.85.51 instead (on interface eth0)
22/08/09 19:34:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/09 19:34:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# read in the taxi zones dataset
zones_df = spark.read.csv('../data/raw/tlc_zones/zones.csv',
    header = True)
zones_df.limit(5)

+--------+---------------+--------------------+-----------------+--------------------+----------+-------------+
|OBJECTID|     Shape_Leng|            the_geom|       Shape_Area|                zone|LocationID|      borough|
+--------+---------------+--------------------+-----------------+--------------------+----------+-------------+
|       1| 0.116357453189|MULTIPOLYGON (((-...|  0.0007823067885|      Newark Airport|         1|          EWR|
|       2|  0.43346966679|MULTIPOLYGON (((-...| 0.00486634037837|         Jamaica Bay|         2|       Queens|
|       3|0.0843411059012|MULTIPOLYGON (((-...|0.000314414156821|Allerton/Pelham G...|         3|        Bronx|
|       4|0.0435665270921|MULTIPOLYGON (((-...|0.000111871946192|       Alphabet City|         4|    Manhattan|
|       5|0.0921464898574|MULTIPOLYGON (((-...|0.000497957489363|       Arden Heights|         5|Staten Island|
+--------+---------------+--------------------+-----------------+--------------------+----------+-------------+

### 1. Aggregating the TLC dataset

In [4]:
# TODO: commenting
TLC_NAMES = ['yellow']

In [20]:
# read in the yellow dataset# TODO: commenting
tlc_df = None
for filename in os.listdir(f'../data/curated/tlc/cleaned/yellow'):
    if tlc_df == None:
        tlc_df = spark.read.parquet(f'../data/curated/tlc/cleaned/yellow/{filename}')
    else:
        tlc_df = tlc_df.union(
            spark.read.parquet(f'../data/curated/tlc/cleaned/yellow/{filename}')
        )

print(f'{tlc_df.count()} ROWS')
print(tlc_df.limit(5))

240824104 ROWS

+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+
|year|month|day|week_index|cdc_week|      date|passengers|trip_distance|pu_location_id|do_location_id|
+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+
|2018|    1|  1|         1|       1|01/01/2018|       1.0|          0.5|            41|            24|
|2018|    1|  1|         1|       1|01/01/2018|       1.0|          2.7|           239|           140|
|2018|    1|  1|         1|       1|01/01/2018|       2.0|          0.8|           262|           141|
|2018|    1|  1|         1|       1|01/01/2018|       1.0|         10.2|           140|           257|
|2018|    1|  1|         1|       1|01/01/2018|       2.0|          2.5|           246|           239|
+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+

+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+
|year|month|day|week_index|cdc_week|      date|passengers|trip_distance|pu_location_id|do_location_id|
+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+
|2021|   11| 16|       203|      46|11/16/2021|      null|    351613.36|           226|           260|
|2020|   12| 10|       154|      50|12/10/2020|      null|    350914.89|           219|           170|
|2020|   12|  9|       154|      50|12/09/2020|      null|    350814.14|           175|           232|
|2020|   12|  9|       154|      50|12/09/2020|      null|     350793.6|            38|            16|
|2020|   12|  8|       154|      50|12/08/2020|      null|    350722.34|           201|            61|
|2020|   12|  8|       154|      50|12/08/2020|      null|    350696.98|            22|           150|
|2020|   12|  3|       153|      49|12/03/2020|      null|    350104.58|           203|           135|
|2020|   12|  2|       153|      49|12/02/2020|      null|    349987.05|           222|            29|
|2020|   11| 29|       153|      49|11/29/2020|      null|     349692.3|            19|            78|
|2021|   10| 27|       200|      43|10/27/2021|      null|    345124.27|           144|           239|
|2021|   12| 11|       206|      49|12/11/2021|      null|     335093.7|           219|            56|
|2021|   11| 16|       203|      46|11/16/2021|      null|    334779.46|           140|           264|
|2021|   12|  7|       206|      49|12/07/2021|      null|     334236.2|           218|           228|
|2021|   11| 29|       205|      48|11/29/2021|      null|    333152.56|           212|            62|
|2021|    5| 11|       176|      19|05/11/2021|      null|    332541.19|           193|           140|
|2021|    5| 11|       176|      19|05/11/2021|      null|    332532.18|            89|           229|
|2021|    5|  3|       175|      18|05/03/2021|      null|    327491.24|           226|           223|
|2021|   10| 14|       198|      41|10/14/2021|      null|    323036.51|           159|           228|
|2021|   10| 12|       198|      41|10/12/2021|      null|    322556.41|           124|           107|
|2021|   10|  6|       197|      40|10/06/2021|      null|    320976.46|           185|            26|
+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+

In [22]:
# join the yellow dataset with the taxi zones dataset
tlc_colnames = tlc_df.columns
tlc_df = ah.extract_borough_name(tlc_df, zones_df, 'pu_location_id', 'pu')
tlc_df = ah.extract_borough_name(tlc_df, zones_df, 'do_location_id', 'do')

In [26]:
print(tlc_df.where(F.col('passengers') >= 2).sort('trip_distance', ascending=False).limit(10))

+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+----------+----------+
|year|month|day|week_index|cdc_week|      date|passengers|trip_distance|pu_location_id|do_location_id|pu_borough|do_borough|
+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+----------+----------+
|2018|    5| 28|        22|      22|05/28/2018|       2.0|        910.8|           226|           226|    Queens|    Queens|
|2021|    2| 17|       164|       7|02/17/2021|       2.0|        900.0|           231|            88| Manhattan| Manhattan|
|2021|    9| 26|       196|      39|09/26/2021|       2.0|        747.3|           132|           261|    Queens| Manhattan|
|2021|   10| 20|       199|      42|10/20/2021|       2.0|        743.9|           132|           161|    Queens| Manhattan|
|2019|   11| 15|        98|      46|11/15/2019|       3.0|        701.3|            68|           163| Manhattan| Manhattan|
|2021|   12| 15|       207|      50|12/15/2021|       2.0|        680.1|           132|            24|    Queens| Manhattan|
|2021|   12|  1|       205|      48|12/01/2021|       2.0|        647.9|           236|           132| Manhattan|    Queens|
|2021|    7| 22|       186|      29|07/22/2021|       2.0|        643.3|           236|           132| Manhattan|    Queens|
|2021|    6| 10|       180|      23|06/10/2021|       2.0|        642.7|           236|           132| Manhattan|    Queens|
|2021|   11| 12|       202|      45|11/12/2021|       2.0|        642.0|           263|           132| Manhattan|    Queens|
+----+-----+---+----------+--------+----------+----------+-------------+--------------+--------------+----------+----------+

In [7]:
TLC_GROUP_COLUMNS = [
    'year',
    'cdc_week',
    'week_index',
    'pu_borough',
    'do_borough',
    'passengers'
]
# TODO: commenting
TLC_AGGREGATE_COLUMNS = {
    '*': ['count'],
    'trip_distance': ['total', 'average'],
}

In [8]:
tlc_df = ah.group_and_aggregate(tlc_df, TLC_GROUP_COLUMNS, 
    TLC_AGGREGATE_COLUMNS)
# TODO: commenting
# force this into memory 
# otherwise writing parquets results in a java executor out of memory error
tlc_df = spark.createDataFrame(tlc_df.collect())

In [9]:
tlc_df.sort('week_index').limit(5)
# TODO: commenting

+----+--------+----------+----------+-------------+----------+-----+------------------+------------------+
|year|cdc_week|week_index|pu_borough|   do_borough|passengers|num_*| tot_trip_distance| avg_trip_distance|
+----+--------+----------+----------+-------------+----------+-----+------------------+------------------+
|2017|       1|         1|    Queens|     Brooklyn|       1.0|    1|             11.91|             11.91|
|2018|       1|         1|    Queens|Staten Island|       2.0|   14|346.01000000000005|24.715000000000003|
|2017|       1|         1| Manhattan|     Brooklyn|       4.0|    2|10.219999999999999| 5.109999999999999|
|2018|       1|         1|    Queens|        Bronx|       2.0|  311| 4892.789999999997|15.732443729903528|
|2018|       1|         1| Manhattan|Staten Island|       5.0|   11|            200.72|18.247272727272726|
+----+--------+----------+----------+-------------+----------+-----+------------------+------------------+

In [19]:
tlc_df.sort('avg_trip_distance', ascending=False).limit(20)

+----+--------+----------+-------------+-------------+----------+-----+------------------+------------------+
|year|cdc_week|week_index|   pu_borough|   do_borough|passengers|num_*| tot_trip_distance| avg_trip_distance|
+----+--------+----------+-------------+-------------+----------+-----+------------------+------------------+
|2021|      46|       203|Staten Island|Staten Island|      null|    2|         107084.56|          53542.28|
|2021|       5|       162|       Queens|Staten Island|      null|    9|186285.34000000003|20698.371111111115|
|2021|      51|       208|Staten Island|     Brooklyn|      null|    3|          58372.36|19457.453333333335|
|2021|      37|       194|     Brooklyn|          EWR|      null|   20|         234826.61|        11741.3305|
|2021|      45|       202|Staten Island|    Manhattan|      null|    7|          53665.27| 7666.467142857143|
|2020|      38|       142|        Bronx|       Queens|       1.0|   32|         167765.06|       5242.658125|
|2021|      48|       205|        Bronx|     Brooklyn|      null|   82|         334651.84|4081.1200000000003|
|2021|      33|       190|     Brooklyn|          EWR|      null|   27|102151.65000000002|3783.3944444444455|
|2021|      41|       198|        Bronx|     Brooklyn|      null|  106| 341625.8500000001|3222.8853773584915|
|2021|      40|       197|        Bronx|     Brooklyn|      null|  113|323074.95999999996| 2859.070442477876|
|2021|      51|       208|        Bronx|        Bronx|      null|  159| 437379.6099999999|2750.8151572327038|
|2021|      49|       206|       Queens|     Brooklyn|      null|  140|         335929.84| 2399.498857142857|
|2021|      51|       208|        Bronx|     Brooklyn|      null|   73|166967.16999999987|2287.2215068493133|
|2021|      49|       206|       Queens|       Queens|      null|  413| 939446.4600000001| 2274.688765133172|
|2021|      31|       188|        Bronx|     Brooklyn|      null|  173| 380665.8800000001|2200.3808092485556|
|2021|      44|       201|        Bronx|     Brooklyn|      null|  110|235862.37999999998|2144.2034545454544|
|2021|      52|       209|       Queens|     Brooklyn|      null|   75| 160030.5900000001|2133.7412000000013|
|2021|      43|       200|     Brooklyn|        Bronx|      null|   92|         193189.11|2099.8816304347824|
|2021|      37|       194|        Bronx|        Bronx|      null|  262| 542800.4400000002|2071.7574045801534|
|2020|      17|       121|        Bronx|       Queens|      null|   64|127341.80000000002|1989.7156250000003|
+----+--------+----------+-------------+-------------+----------+-----+------------------+------------------+

In [12]:
tlc_df.write.mode('overwrite').parquet('../data/curated/tlc/aggregated/yellow')
# TODO: commenting

22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 92.12% for 8 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 81.89% for 9 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 73.70% for 10 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 67.00% for 11 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 61.42% for 12 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 56.69% for 13 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 52.64% for 14 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 49.13% for 15 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 46.06% for 16 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 49.13% for 15 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 52.64% for 14 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 56.69% for 13 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 61.42% for 12 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 67.00% for 11 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 73.70% for 10 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 81.89% for 9 writers
22/08/09 01:04:22 WARN MemoryManager: Total allocation exceeds 95.00% (989,174,157 bytes) of heap memory
Scaling row group sizes to 92.12% for 8 writers

### 2. Aggregating the COVID dataset

In [14]:
# read in the covid dataset
covid_df = spark.read.parquet('../data/curated/virals/covid/cases-by-day')
covid_df.limit(5)
# TODO: commenting

+----------+----+--------+----------+-----+------+------------+-------+
|      date|year|cdc_week|week_index|cases|deaths|hospitalised|borough|
+----------+----+--------+----------+-----+------+------------+-------+
|02/29/2020|2020|       9|       113|    1|     0|           1|Overall|
|03/01/2020|2020|      10|       114|    0|     0|           1|Overall|
|03/02/2020|2020|      10|       114|    0|     0|           2|Overall|
|03/03/2020|2020|      10|       114|    1|     0|           7|Overall|
|03/04/2020|2020|      10|       114|    5|     0|           2|Overall|
+----------+----+--------+----------+-----+------+------------+-------+

In [15]:
COVID_GROUP_COLUMNS = [
    'year',
    'cdc_week',
    'week_index',
    'borough'
]
# TODO: commenting
COVID_AGGREGATE_COLUMNS = {
    'cases': ['total', 'average'],
    'deaths': ['total', 'average'],
    'hospitalised': ['total', 'average'],
}

In [16]:
covid_df = ah.group_and_aggregate(covid_df, COVID_GROUP_COLUMNS, 
    COVID_AGGREGATE_COLUMNS)

# force this into memory 
# otherwise writing parquets results in a java executor out of memory error
covid_df = spark.createDataFrame(covid_df.collect())
# TODO: commenting

In [33]:
covid_df.sort('week_index').limit(5)
# TODO: commenting

+----+--------+----------+---------+---------+---------+----------+----------+----------------+----------------+
|year|cdc_week|week_index|  borough|tot_cases|avg_cases|tot_deaths|avg_deaths|tot_hospitalised|avg_hospitalised|
+----+--------+----------+---------+---------+---------+----------+----------+----------------+----------------+
|2020|       9|       113|  Overall|      1.0|      1.0|       0.0|       0.0|             1.0|             1.0|
|2020|       9|       113| Brooklyn|      0.0|      0.0|       0.0|       0.0|             1.0|             1.0|
|2020|       9|       113|Manhattan|      1.0|      1.0|       0.0|       0.0|             0.0|             0.0|
|2020|       9|       113|   Queens|      0.0|      0.0|       0.0|       0.0|             0.0|             0.0|
|2020|       9|       113|    Bronx|      0.0|      0.0|       0.0|       0.0|             0.0|             0.0|
+----+--------+----------+---------+---------+---------+----------+----------+----------------+----------------+

In [17]:
# save it
# TODO: commenting
covid_df.write.mode('overwrite').parquet('../data/curated/virals/covid/cases-by-week')

### 3. Aggregating the Flu dataset
*Nothing is done here, since the flu dataset is already grouped by MMWR week.*